/* --- Basis Reset Styles --- */

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

* {
	box-sizing: inherit;
}

body,
.form-input,
.form-select,
.btn {
	font-family: "Open Sans", Tahoma, Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333;
}



/* --- Basic Element Styles --- */

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 21px;
	font-weight: 400;
}

h2 {
	font-size: 17px;
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

.form-input {
	width: 100%;
	padding: 7px 9px;
	border: 1px solid #DDD;
}

.form-select {
	width: 100%;
	padding: 6px 5px;
	border: 1px solid #DDD;
}

.btn {
	display: block;
	padding: 9px 18px;
	border: none;
	color: #FFF;
	cursor: pointer;
	transition: opacity .15s ease-in-out;
}

.btn-small {
	padding: 4px 8px;
}

.btn::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
	opacity: .85;
}

.btn-grey {
	background-color: #777;
}

.btn-green {
	background-color: #27AE60;
}

.btn-red {
	background-color: #E74C3C;
}



/* --- Overall Page structure --- */

#container {
	position: absolute;
	top: -25px;
	left: -25px;
	width: calc(100% + 50px);
	min-height: calc(100% + 25px);
	transition: -webkit-filter .3s ease-in-out,
						filter .3s ease-in-out;
}

#container.blur {
	-webkit-filter: blur(7px);
	        filter: blur(7px);
}

#overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	background-color: #000;
	opacity: 0;
	transition: opacity .3s ease-in-out,
				visibility 0s linear .3s;
}

#container.blur ~ #overlay {
	visibility: visible;
	opacity: .5;
	transition-delay: 0s;
}

#main {
	position: absolute;
	top: 75px;
	width: 80%;
	margin-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
}



/* --- Main navbar with navigation --- */

#navbar {
	position: fixed;
	top: -25px;
	left: -25px;
	z-index: 1000;
	width: calc(100% + 50px);
	height: 75px;
	padding-top: 25px;
	background-color: #4A637C;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#navbar-main {
	margin-left: 10%;
	list-style-type: none;
}

.navbar-main-element {
	position: relative;
	float: left;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	color: #FFF;
	cursor: pointer;
	overflow: hidden;
}

.navbar-main-element:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #FFF;
	transition: -webkit-transform .15s ease-in-out;
	transition: 		transform .15s ease-in-out;
}

.navbar-main-element:hover:after,
.navbar-main-element.active:after {
	-webkit-transform: translateY(-3px);
	        transform: translateY(-3px);
}

#navbar-main-search {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 18px;
}

#navbar-user {
	float: right;
	position: relative;
	margin-right: 10%;
}

#navbar-user-info {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	transition: background-color .15s ease-in-out;
}

#navbar-user-info:hover,
#navbar-user-info:focus,
#navbar-user-info.active {
	background-color: rgba(255,255,255,.2);
}

#navbar-user-img {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
}

#navbar-user-name {
	float: left;
	color: #FFF;
	line-height: 50px;
}

#navbar-user-dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
	background-color: #FFF;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	transition: opacity .15s ease-in-out,
				visibility 0s linear .15s;
}

#navbar-user-info.active ~ #navbar-user-dropdown {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.navbar-user-dropdown-element {
	display: block;
	padding: 9px 12px;
	transition: background-color .15s ease-in-out;
}

.navbar-user-dropdown-element:hover,
.navbar-user-dropdown-element:focus {
	background-color: #EEE;
}

.navbar-user-dropdown-divider {
	margin-top: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #EEE;
	border-bottom: none;
	border-left: none;
	border-right: none;
}



/* --- Modal: Basic Styles --- */

.modal {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3000;
	width: 800px;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	-webkit-transform: translate(-50%,-53%) scale(.92);
	        transform: translate(-50%,-53%) scale(.92);
	transition: opacity .3s ease-in,
				-webkit-transform .3s ease-in,
				visibility 0s linear .3s;
	transition: opacity .3s ease-in,
				transform .3s ease-in,
				visibility 0s linear .3s;
}

.modal.visible {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(-50%,-53%) scale(1);
	        transform: translate(-50%,-53%) scale(1);
	transition: opacity .3s ease-out,
				-webkit-transform .3s ease-out,
				visibility 0s linear;
	transition: opacity .3s ease-out,
				transform .3s ease-out,
				visibility 0s linear;
}

.modal.view #btn-modal-edit-save,
.modal.view #btn-modal-edit-cancel,
.modal.view #btn-modal-new-save,
.modal.view #btn-modal-new-cancel,
.modal.view .form-input,
.modal.view .form-select {
	display: none;
}

.modal.edit #btn-modal-close,
.modal.edit #btn-modal-edit,
.modal.edit #btn-modal-delete,
.modal.edit #btn-modal-new-save,
.modal.edit #btn-modal-new-cancel,
.modal.edit .form-input-replace {
	display: none;
}

.modal.new #btn-modal-close,
.modal.new #btn-modal-edit,
.modal.new #btn-modal-delete,
.modal.new #btn-modal-edit-save,
.modal.new #btn-modal-edit-cancel,
.modal.new .form-input-replace {
	display: none;
}

.modal:after {
	content: "";
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4000;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	transition: opacity .3s ease-in-out,
				visibility 0s linear .3s;
}

.modal.delete:after {
	visibility: visible;
	opacity: .8;
	transition-delay: 0s;
}

.modal-header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #EEE;
}

.modal-body {
	padding: 20px 5px;
}

.modal-footer {
	width: 100%;
	height: 60px;
	padding-left: 25px;
	padding-right: 25px;
	border-top: 1px solid #EEE;
}

.modal-footer > .btn {
	float: right;
	margin-top: 12px;
	margin-left: 12px;
}



/* --- Modal: Delet Confirmation Dialog --- */

.modal.delete > .modal-dialog {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(-50%,-50%) scale(1);
	        transform: translate(-50%,-50%) scale(1);
	transition: opacity .3s ease-out,
				-webkit-transform .3s ease-out,
				visibility 0s linear;
	transition: opacity .3s ease-out,
				transform .3s ease-out,
				visibility 0s linear;
}

.modal-dialog {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5000;
	width: 450px;
	padding: 25px;
	background-color: #FFF;
	border: 1px solid #E74C3C;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	text-align: center;
	-webkit-transform: translate(-50%,-50%) scale(.92);
	        transform: translate(-50%,-50%) scale(.92);
	transition: opacity .3s ease-in,
				-webkit-transform .3s ease-in,
				visibility 0s linear .3s;
	transition: opacity .3s ease-in,
				transform .3s ease-in,
				visibility 0s linear .3s;
}

.modal-dialog > h1 {
	margin-top: 0;
	font-size: 15px;
	font-weight: 600;
}

.modal-dialog > p {
	line-height: 1.8;
	margin-bottom: 20px;
}

.modal-dialog > .btn {
	float: right;
	width: calc(50% - 12px);
	margin-left: 6px;
	margin-right: 6px;
}



/* --- Modal: Content Styles --- */

.modal-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.modal-table tr > td:nth-child(odd) {
	font-weight: 600;
}

.modal-table td,
.modal-table th {
	padding: 1px 20px;
}

.modal-table .form-input-add {
	width: calc(100% - 26px);
}

.modal-table .form-input-unit {
	padding-left: 4px;
}

.modal-table .form-input-replace {
	padding-left: 10px;
	line-height: 34px;
}

.modal-header > .form-input {
	font-size: 18px;
	line-height: 60px;
	padding: 0;
	border: none;
	background-color: transparent;
	margin-left: 25px;
}

.modal-header > .form-input-replace {
	font-size: 18px;
	line-height: 60px;
	margin-left: 25px;
}



/* --- Page: Login --- */

#login-background {
	background: url("../svg/bg_polygon.svg") center center no-repeat;
	background-size: cover;
}

#login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 470px;
	padding: 25px;
	text-align: center;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	-webkit-transform: translate(-50%,-53%);
	        transform: translate(-50%,-53%);
}

#login-title {
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

#login-subtitle {
	margin-top: 5px;
	margin-bottom: 25px;
	color: #999;
	font-size: 13px;
	font-weight: 400;
}

#login-box > .form-input {
	margin-bottom: 10px;
	padding: 9px 12px;
	background-color: #EEE;
	border-color: #EEE;
}

#btn-login {
	float: left;
	width: calc(37% - 10px);
	margin-right: 10px;
}

#btn-pw-reset {
	float: left;
	width: 63%;
}



/* --- Page: Startseite --- */

#start-header {
	width: 100%;
	height: 350px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 350px;
	background: url('../img/grossmarkt.jpg') center center no-repeat;
	background-size: cover;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}

#start-header > h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #FFF;
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

#start-nav {
	width: calc(100% + 10px);
	margin-left: -5px;
	list-style-type: none;
	font-size: 0;
}

.start-nav-box {
	display: inline-block;
	width: calc(20% - 10px);
	height: 180px;
	margin-left: 5px;
	margin-right: 5px;
}

.start-nav-box > a {
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	text-align: center;
	color: #FFF;
	transition: opacity .3s ease-in-out;
}

.start-nav-box > a:hover,
.start-nav-box > a:focus {
	opacity: .9;
}

#start-nav-box-products {
	background-color: #334D5C;
}

#start-nav-box-producers {
	background-color: #45B29D;
}

#start-nav-box-suppliers {
	background-color: #EFC94C;
}

#start-nav-box-customers {
	background-color: #E27A3F;
}

#start-nav-box-orders {
	background-color: #DF4949;
}

.start-nav-box > a > img {
	width: 72px;
	height: 72px;
}

.start-nav-box > a > h2 {
	margin-top: 7px;
	margin-bottom: 0;
	color: #FFF;
	font-weight: 300;
	text-transform: uppercase;
}



/* --- Page: Listen --- */

#table-list-title {
	float: left;
}

#btn-add {
	margin-top: 10px;
	float: right;
}

#table-list {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

#table-list-head {
	background-color: #777;
	color: #FFF;
}

#table-list-body > tr {
	cursor: pointer;
	transition: background-color .15s ease-in-out;
}

#table-list-body > tr:nth-child(even) {
	background-color: #EEE;
}

#table-list-body > tr:hover,
#table-list-body > tr:focus {
	background-color: #DDD;
}

#table-list-head > tr > th,
#table-list-body > tr > td {
	padding: 9px 12px;
}



/* --- Page: Not implemented --- */

#not-implemented {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	text-align: center;
}

#not-implemented > img {
	width: 120px;
	height: 120px;
	margin-bottom: 5px;
}

#not-implemented > h1 {
	color: #DF4949;
	font-size: 27px;
}

#not-implemented > p {
	margin-top: 0;
	font-size: 15px;
}
